Repository ragdata-archive/multil.ink, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, meta

link names
  src/app.js
  views/profile.ejs
Labels: none

quit yelling at me
  public/js/home.js
  public/js/profile.js
Labels: none

a
  src/config.json.example
Labels: none

verified check
  src/app.js
  views/profile.ejs
Labels: none

paid check
  views/profile.ejs
Labels: none

anti no-js
  views/index.ejs
  views/profile.ejs
Labels: none

better formatted idea doc
  idea.md
Labels: none

proper paid/verify detection
  views/profile.ejs
Labels: none

FNC idea
  idea.md
Labels: none

stubs for `/login`, `/register`, `/edit`, `/staff`
  src/app.js
  views/edit.ejs
  views/login.ejs
  views/register.ejs
  views/staff.ejs
Labels: none

basic auth flow
  package-lock.json
  package.json
  passport-config.cjs
  public/css/auth.css
  src/app.js
  src/config.json.example
  views/edit.ejs
  views/index.ejs
  views/login.ejs
  views/register.ejs
Labels: dependencies

fix logout
  src/app.js
Labels: none

no funny usernames
  src/app.js
Labels: none

no funny emails
  src/app.js
Labels: none

pass to `/edit` if authd
  src/app.js
Labels: none

default information
  public/img/person.png
  src/app.js
Labels: none

lowercase
  src/app.js
Labels: none

lol
  src/app.js
Labels: none

cring
  src/app.js
  views/edit.ejs
Labels: none

basic editing
  idea.md
  src/app.js
  views/edit.ejs
Labels: none

limits on pw n stuff
  src/app.js
  views/register.ejs
Labels: none

free plan capped to 7 links
  views/profile.ejs
Labels: none

delete doesnt work but this is getting somewhere
  idea.md
  src/app.js
  views/edit.ejs
Labels: none

deleting
  src/app.js
Labels: none

link whitelist
  src/app.js
  src/config.json.example
Labels: none

detect if someone is suspended and not accept their edits
  src/app.js
Labels: none

restore logout button on `/edit`
  views/edit.ejs
Labels: none

basic staff page concept
  src/app.js
  views/staff.ejs
Labels: none

admin backend basically done
  .eslintrc.json
  idea.md
  public/css/staff.css
  src/app.js
  views/staff.ejs
Labels: meta

added css for profile
  public/css/edit.css
  public/css/profile.css
  views/edit.ejs
  views/profile.ejs
Labels: none

some more changes lo
  generate-accounts.js
  idea.md
  public/css/staff.css
  src/app.js
  views/staff.ejs
Labels: none

rm debug things
  generate-accounts.js
  src/app.js
Labels: none

rn
  idea.md
  public/css/staff.css
  src/app.js
  views/staff.ejs
Labels: none

f
  idea.md
  public/css/staff.css
  views/staff.ejs
Labels: none

css for edit and home page
  public/css/edit.css
  public/css/home.css
Labels: none

wfewfewe
  public/css/staff.css
  views/staff.ejs
Labels: none

no more css linting
  .github/workflows/linter.yml
Labels: meta

a
  idea.md
  src/app.js
Labels: none

check for expiring subs
  idea.md
  src/app.js
Labels: none

https if no protocol when user sets it
  idea.md
  src/app.js
Labels: none

.github/labeler.yml:

---
dependencies:
  - package.json
  - package-lock.json

meta:
  - README.md
  - LICENSE.md
  - .gitignore
  - .gitattributes
  - .eslintrc.json
  - .github/**/*
  - .vscode/**/*
